<template>
    <div>
        <b-navbar toggleable="lg" type="light" variant="light" fixed="top">
            <b-navbar-brand href="#">
                <img src="../assets/design_assets_logo.svg"/>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">

                <b-nav-item-dropdown text="Lang" right>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">ES</b-dropdown-item>
                <b-dropdown-item href="#">RU</b-dropdown-item>
                <b-dropdown-item href="#">FA</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
export default {
    name: 'Header'
}
</script>

<style>
.navbar-light .navbar-toggler-icon {
  background-image: url("../assets/design_assets_burger-icon.svg") !important;
}
</style>