<template>
    <div class="here-map">
        <div ref="hereMap" :style="{ width: width, height: height }"></div>
        <b-carousel
            id="carousel-1"
            :interval="0"
            img-width="100%"
            img-height="200"
            background="lightgrey"
            style="position:'absolute'"
            v-model="activeIndex"
            >
            <b-carousel-slide v-for="item in results" :key="item.href">
                <template slot="img">
                    <HotelDetail :href="item.href" :distance="item.distance"/>
                </template>
            </b-carousel-slide>
        </b-carousel>
    </div>
</template>

<script>
    import HotelDetail from './HotelDetail'
    export default {
        name: "HereMap",
        props: {
            apiKey: String,
            lat: Number,
            lng: Number,
            width: String,
            height: String
        },
        components: {
            HotelDetail
        },
        data() {
            return {
                platform: null,
                results: [],
                active: null,
                activeIndex: 0,
                iconPath : require('../assets/design_assets_home-icon.svg'),
                activeIconPath : require('../assets/design_assets_home-icon-active.svg')
            }
        },
        async mounted() { 
            this.platform = new H.service.Platform({
                apiKey: this.apiKey,
            });
            this.initializeHereMap()
            this.searchLocation()
        },
        methods: {
            initializeHereMap(){
                const mapContainer = this.$refs.hereMap;
                var defaultLayers = this.platform.createDefaultLayers();

                this.map = new H.Map(mapContainer, defaultLayers.vector.normal.map, {
                    zoom: 15,
                    center: { lng: this.lng, lat: this.lat }
                });

                addEventListener("resize", () => this.map.getViewPort().resize());

                new H.mapevents.Behavior(new H.mapevents.MapEvents(this.map));

                this.ui = H.ui.UI.createDefault(this.map, defaultLayers);
            },
            addMarker(item){
                var icon
                if (item == this.active){
                    icon  = new H.map.Icon(this.activeIconPath, {size: {w: 40, h: 40}});
                } else{
                    icon  = new H.map.Icon(this.iconPath, {size: {w: 40, h: 40}});
                }
                var marker  = new H.map.Marker({lat: item.position[0], lng:item.position[1]}, { icon: icon });
                marker.addEventListener('tap', () => {this.changeSelectedAccommodation(item)})
                this.map.addObject(marker)
            },
            searchLocation(){
                var places = this.platform.getPlacesService()
                var entryPoint = H.service.PlacesService.EntryPoint;
                places.request(entryPoint.SEARCH, { 'at': this.lat + "," + this.lng, 'q': "accommodation"}, (resp) => {
                    resp.results.items.forEach((item, idx) => {
                        this.results.push(item);
                        if(idx == 0){
                            this.activeIndex = 0;
                            this.active = item;
                        }
                        this.addMarker(item);
                    })
                });
            },
            changeSelectedAccommodation(item){
                this.map.removeObjects(this.map.getObjects());
                this.active = item;
                this.results.forEach(item => {
                    this.addMarker(item);
                })
                this.activeIndex = this.results.indexOf(item);
            }
        }
    }
</script>

<style>
.carousel{
    position: absolute !important;
    bottom: 20px;
    width: 100%;
}
</style>