<template>
    <div>
        <b-alert
            :show="dismissCountDown"
            dismissable
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
        >
            <p>{{ bookingMessage }}</p>
            <b-progress
                variant="warning"
                :max="dismissSecs"
                :value="dismissCountDown"
                heigth="4px"
            ></b-progress>
        </b-alert>
        <b-card
            :title="detail.name"
            :img-src="photo"
            img-width="5rem !important"
            img-left
            tag="article"
            style="width: 100%;height: 10rem;margin: 0 auto; text-align: center">
            <b-card-text>
                {{distance}} meters away
            </b-card-text>
            <b-button href="#" variant="warning" @click="$bvModal.show(modalId)">Book</b-button>
        </b-card>
        <b-modal
            :id="modalId"
            ref="modal"
            title="Book"
            @show="resetModal"
            @hidden="resetModal"
            @ok="handleOk"
            >
            <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                    label="Name"
                    label-for="name-input"
                    invalid-feedback="Name is required"
                    :state="formStates.name">
                        <b-form-input
                            id="name-input"
                            v-model="bookData.name"
                            :state="formStates.name"
                            required
                        ></b-form-input>
                </b-form-group>
                <b-form-group
                    label="Surname"
                    label-for="surname-input"
                    invalid-feedback="Surname is required"
                    :state="formStates.surname">
                        <b-form-input
                            id="surname-input"
                            v-model="bookData.surname"
                            :state="formStates.surname"
                            required
                        ></b-form-input>
                </b-form-group>
                <b-form-group
                    label="Check In"
                    label-for="checkin-datepicker"
                    invalid-feedback="Check in date is not given or wrong"
                    :state="formStates.checkInDate">
                        <b-form-datepicker
                            id="checkin-datepicker"
                            v-model="bookData.checkInDate"
                            :state="formStates.checkInDate"
                            :min="checkInMinDate"
                            :max="checkInMaxDate"
                            class="mb-2"
                            required>
                        </b-form-datepicker>
                </b-form-group>
                <b-form-group
                    label="Check Out"
                    label-for="checkout-datepicker"
                    invalid-feedback="Check out date is not given or wrong"
                    :state="formStates.checkOutDate">
                        <b-form-datepicker
                            id="checkout-datepicker"
                            v-model="bookData.checkOutDate"
                            :state="formStates.checkInDate"
                            :min="checkOutMinDate"
                            :max="checkOutMaxDate"
                            class="mb-2"
                            required>
                        </b-form-datepicker>
                </b-form-group>
            </form>
        </b-modal>
    </div>
</template>

<script>
const axios = require('axios');

export default {
    name: "HotelDetail",
    props: {
        href: String,
        distance: Number
    },
    data(){
        const now = new Date();
        const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
        const checkInMinDate = new Date(today);
        const checkInMaxDate = new Date(today);
        checkInMaxDate.setMonth(checkInMaxDate.getMonth() + 2);
        checkInMaxDate.setDate(1);
        const checkOutMinDate = new Date(today);
        checkOutMinDate.setDate(checkOutMinDate.getDate() + 1);
        const checkOutMaxDate = new Date(today);
        checkOutMaxDate.setMonth(checkOutMaxDate.getMonth() + 3)
        checkOutMaxDate.setDate(1);

        return {
            detail: {},
            photo: 'https://www.todaytourism.com/img/accommodation-type-img/hotel-default-img.jpg',
            bookingEndpoint: '/api/bookings/',
            dismissSecs: 5,
            alertType: '',
            dismissCountDown: 0,
            bookingMessage: '',
            name: '',
            nameState: null,
            submittedNames: [],
            modalId: '',
            checkInMinDate: checkInMinDate,
            checkOutMinDate: checkOutMinDate,
            checkInMaxDate: checkInMaxDate,
            checkOutMaxDate: checkOutMaxDate,
            bookData: {
                name: '',
                surname: '',
                checkInDate: '',
                checkOutDate: ''
            },
            formStates: {
                name: null,
                surname: null,
                checkInDate: null,
                checkOutDate: null
            }
        }
    },
    async created(){
        this.getHotelDetail(this.href);
    },
    methods: {
        countDownChanged(dismissCountDown){
            this.dismissCountDown = dismissCountDown
        },
        showAlert(){
            this.dismissCountDown = this.dismissSecs
        },
        getHotelDetail(href){
            axios.get(href).then((res) => {
                this.detail = res.data;
                this.modalId = res.data.placeId
                if (res.data.media.images.items[0]){
                    this.photo=res.data.media.images.items[0]
                }
            })
        },
        checkFormValidity() {
            var valid = true;
            if(this.bookData.name.trim() != ''){
                this.formStates.name = true;
            } else {
                this.formStates.name = false;
                valid = false;
            }
            if(this.bookData.surname.trim() != ''){
                this.formStates.surname = true;
            } else {
                this.formStates.surname = false;
                valid = false;
            }
            if(this.bookData.checkInDate.trim() != ''){
                this.formStates.checkInDate = true;
            } else {
                this.formStates.checkInDate = false;
                valid = false;
            }
            if(this.bookData.checkOutDate.trim() != '' &&
               this.bookData.checkOutDate > this.bookData.checkInDate){
                this.formStates.checkOutDate = true;
            } else {
                this.formStates.checkOutDate = false;
                valid = false;
            }
            return valid
        },
        resetModal() {
            this.bookData = {
                name: '',
                surname: '',
                checkInDate: '',
                checkOutDate: '',
            }
            this.formStates = {
                name: null,
                surname: null,
                checkInDate: null,
                checkOutDate: null
            }
        },
        handleOk(bvModalEvt) {
            bvModalEvt.preventDefault()
            this.handleSubmit()
        },
        handleSubmit() {
            if (!this.checkFormValidity()) {
                return
            }
            let data = {
                "name": this.bookData.name,
                "surname": this.bookData.surname,
                "here_place_id": this.modalId,
                "check_in_date": this.bookData.checkInDate,
                "check_out_date": this.bookData.checkOutDate
            }
            const headers = {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
            axios.post(this.bookingEndpoint, data, {headers: headers})
                .then(()=> {
                    this.bookingMessage = "Your booking is successfully created"
                    this.alertType = "success"
                    this.showAlert()
                })
                .catch(err => {
                    console.log(err)
                    this.bookingMessage = 
                        "Your booking is not created. Try again later."
                    this.alertType = "danger"
                    this.showAlert()
                });
            this.$nextTick(() => {
                this.$bvModal.hide(this.modalId)
            })
        }
    }
}
</script>

<style scoped>
    .card-img-left{
        width: 5rem !important;
        margin-left: 15px;
    }
</style>