<template>
  <div id="app">
    <Header/>
    <HereMap
      v-if="location.coords != null"
      apiKey="n3yzzyojVv-yI51g7KVcL3u5cRyb5yF7Hn8IjacSpvU"
      :lat="location.coords.latitude"
      :lng="location.coords.longitude"
      width="100%"
      :height="windowHeight" />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import HereMap from './components/HereMap'

export default {
  name: 'App',
  components: {
    Header,
    HereMap
  },
  data(){
    return {
      location: {
        coords: null,
      },
    }
  },

  created(){
    navigator.geolocation.getCurrentPosition(pos => {
      this.location = pos;
    })
  },
  mounted(){
    this.windowHeight = window.innerHeight + "px"
    window.addEventListener('resize', () => {
      this.windowHeight = window.innerHeight + "px"
    })
  }
}
</script>

